<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Word Suggestions App</h1>
    <form action="/autocomplete" method="post">
        <label for="prefix">Please type an incomplete word:</label>
        <input type="text" id="prefix" name="prefix" value="app"><br>
        <label for="num_suggestions">Please tell the maximum amount of suggestions you want:</label>
        <input type="number" id="num_suggestions" name="num_suggestions" value="5" min="1" required><br>
        <button type="submit"> Get Suggestions</button>
    </form>
</body>
</html>